* {
  outline: 1px solid #ff0026;
}

html {
  min-width: 1000px;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin: auto;
}

body {
  margin: 0;
  padding: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: #ff0026;
}

.center {
  width: 90%;
  height: 90%;
  margin: auto;
  position: relative;
  -webkit-transform: translateY(2%);
          transform: translateY(2%);
}

.center .centerbg {
  width: 100%;
  height: 100%;
  margin: auto;
  background: url(../image/pieces.png) center top no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
}
