// @import "WataiVar";
$min-width: 1000px;
$bgccolor: #a8182e;
* {
  outline: 1px solid #ff0026;
}
html {
  // min-width: $min-width;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin: auto;
}
body {
  
  margin: 0;
  padding: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}
.main {
  width: 100%;
  height: 100%;
  margin: auto;
  background: url(../image/back.png) center top no-repeat;
  background-size: cover;
}
.center {
  width: 90%;
  height: 90%;
  margin: auto;
  position: relative;
  transform: translateY(2%);
  //亮片
  & .centerbg {
    width: 100%;
    height: 100%;
    margin: auto;
    background: url(../image/pieces.png) center top no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
  }
}


@media screen and (max-width:499px){
  html{
    width: 100vw;
    height: 40vh;
  }
}