// @import "WataiVar";
$min-width: 1000px;
$bgccolor: #a8182e;
* {
  outline: 1px solid #ff0026;
}
html {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin: auto;
}
body {
  min-width: $min-width;
  margin: 0;
  padding: 0;
  margin: auto;
  width: 100vw;
  height: 100%;
}
.main {
  width: 100%;
  height: 100%;
  margin: auto;
  background: url(../image/back.png) center top no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1000px) {

}
