$bgccolor: #121823;
$fontfamily: "微軟正黑體";
$fontsizeone: 24px;
$fontsizetwo: 20px;
$fontsizethr: 18px;
$fontsizefour: 16px;
$min-width: 1200px;
* {
  box-sizing: border-box;
  // outline: 1px solid red;
}
html {
  background-color: $bgccolor;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 800px;
  min-width: $min-width;
  overflow-x: hidden;
}

.main {
  width: 100%;
  height: 100%;
  position: relative;
  background: url(../image/back.png) center top no-repeat;
  background-size: cover;
  margin: auto;
}

//輸入框外部設定
input {
  background: transparent;
  font-family: $fontfamily;
  font-size: $fontsizetwo;
  color: #fff;
  width: 70%;
  height: 40px;
  font-weight: 900;
}
//輸入框內部設定
input::placeholder {
  color: rgba(199, 198, 198, 0.733);
  font-family: $fontfamily;
  font-size: $fontsizefour;
}
// 輸入框選取時消失
input:focus {
  outline: none;
}
//A連結滑入特效
a:hover {
  filter: brightness(1.5);
}
//新舊版切換 A連結
a {
  width: 172px;
  height: 50px;
  line-height: 45px;
  text-align: center;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  font-family: $fontfamily;
  font-size: $fontsizefour;
  font-weight: 700;
  color: #0b0136;
}
//輸入後面的X.

// input.Xbtn{
//   background: url(../image/delicon.png) center no-repeat;
//   background-size: contain;
//   cursor: pointer;
// }
//  HTML meta
// <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">