@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #f8ff89;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

input {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 1000px;
  min-width: 1000px;
  overflow-x: hidden;
}

.main {
  width: 100%;
  height: 100%;
  position: relative;
  background: url(../image/back.png) center top no-repeat;
  background-size: cover;
  margin: auto;
  position: -999;
}

input {
  background: transparent;
  font-family: "微軟正黑體";
  font-size: 20px;
  color: #555;
  width: 70%;
  height: 40px;
  font-weight: 900;
}

input::-webkit-input-placeholder {
  color: #999999;
  font-family: "微軟正黑體";
  font-size: 16px;
}

input:-ms-input-placeholder {
  color: #999999;
  font-family: "微軟正黑體";
  font-size: 16px;
}

input::-ms-input-placeholder {
  color: #999999;
  font-family: "微軟正黑體";
  font-size: 16px;
}

input::placeholder {
  color: #999999;
  font-family: "微軟正黑體";
  font-size: 16px;
}

input:focus {
  outline: none;
}

a:hover {
  -webkit-filter: brightness(1.2) drop-shadow(0px 0px 10px #fff);
          filter: brightness(1.2) drop-shadow(0px 0px 10px #fff);
}

a {
  width: 172px;
  height: 50px;
  line-height: 2.5em;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  font-family: "微軟正黑體";
  font-size: 1.3em;
  font-weight: 700;
  color: #333333;
}

.center {
  width: 100%;
  height: 100%;
  margin: auto;
}

.center > .center_block {
  width: 25%;
  height: 44%;
  margin: auto;
  position: relative;
  min-width: 480px;
}

.center > .center_block > .toplogo {
  width: 100%;
  height: 50%;
  background: url(../image/toplogo.png) center center no-repeat;
  background-size: cover;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.center > .center_block > .transparent {
  margin: auto;
  border: 10px solid transparent;
  border-radius: 18px;
  position: absolute;
  top: 380px;
  -webkit-box-shadow: 0px 0px 8px #64966f;
          box-shadow: 0px 0px 8px #64966f;
}

.center > .center_block > .transparent > .loginbox {
  width: 100%;
  height: 55%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #fff;
  border: 1px solid #fd9e0e;
  border-radius: 10px;
  margin: auto;
  position: relative;
}

.center > .center_block > .transparent > .loginbox:before {
  content: '';
  background: url(../image/usericon.png) no-repeat;
  background-size: cover;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 48%;
}

.center > .center_block > .transparent > .loginbox:after {
  content: '';
  background: url(../image/passicon.png) no-repeat;
  background-size: cover;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 71%;
}

.center > .center_block > .transparent > .loginbox > .change {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1%;
}

.center > .center_block > .transparent > .loginbox > .change a.new {
  width: 48%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(1%, #51e3be), color-stop(88%, #c2f9dc));
  background: linear-gradient(0deg, #51e3be 1%, #c2f9dc 88%);
  -webkit-box-shadow: 2px 3px 1px #80b797;
          box-shadow: 2px 3px 1px #80b797;
}

.center > .center_block > .transparent > .loginbox > .change a.old {
  width: 48%;
  margin-left: 5%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(1%, #ffc766), color-stop(88%, #ff9d0e));
  background: linear-gradient(0deg, #ffc766 1%, #ff9d0e 88%);
  -webkit-box-shadow: 2px 3px 1px #ff9d0e;
          box-shadow: 2px 3px 1px #ff9d0e;
}

.center > .center_block > .transparent > .loginbox .input_box {
  width: 58%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5%;
  margin-left: 40px;
}

.center > .center_block > .transparent > .loginbox input {
  width: 100%;
  height: 44px;
  border-radius: 10px;
  padding-left: 5%;
  background-color: #fff;
  border: 2px solid #e08701;
}

.center > .center_block > .transparent > .loginbox input[type="password"] {
  margin-top: 6px;
}

.center > .center_block > .transparent > .loginbox input:focus {
  border: 2px solid #f8bf6a;
}

.center > .center_block > .transparent > .loginbox .viplogin {
  width: 30%;
  height: 90px;
  margin-top: 5%;
}

.center > .center_block > .transparent > .loginbox .viplogin a.submit {
  width: 100%;
  height: 100%;
  line-height: 4.3em;
  float: right;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(1%, #51e3be), color-stop(88%, #c2f9dc));
  background: linear-gradient(0deg, #51e3be 1%, #c2f9dc 88%);
  -webkit-box-shadow: 2px 3px 1px #80b797;
          box-shadow: 2px 3px 1px #80b797;
}

.bottomlogo {
  min-width: 320px;
  width: 18%;
  height: 14%;
  background: url(../image/bottomlogo.png) center center no-repeat;
  background-size: contain;
  position: absolute;
  top: 80%;
  left: 70%;
}

@media screen and (max-width: 1000px) {
  .bottomlogo {
    left: 60%;
  }
}
