$bgccolor: #a8182e;
$fontfamily: "微軟正黑體";
$fontsizeone: 24px;
$fontsizetwo: 20px;
$fontsizethr: 18px;
$fontsizefour: 16px;
$min-width:1000px;
* {
  box-sizing: border-box;
  // outline: 1px solid red;
}
html {
  width: 100%;
  min-width: $min-width;
  height: 100%;
  overflow-y: hidden;
  margin: auto;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: auto;
  // min-width: $min-width;
  background-color: $bgccolor
}
.main {
  width: 100%;
  height: 100vh;
  // min-width: $min-width;
  position: relative;
  margin: auto;
  overflow: hidden;
}
//主要背景
.bg {
  width: 100%;
  height: 100%;
  background: url(../image/back.png) center top no-repeat;
  background-size: cover;
  position: absolute;
  margin: auto;
  top: 0;
  z-index: -999;
}
//輸入框外部設定
input {
  background: transparent;
  font-family: $fontfamily;
  font-size: $fontsizetwo;
  color: #fff;
  width: 70%;
  height: 40px;
  font-weight: 900;

}
//輸入框內部設定
input::placeholder {
  color: rgba(199, 198, 198, 0.733);
  font-family: $fontfamily;
  font-size: $fontsizefour;
}
// 輸入框選取時消失
input:focus {
  outline: none;
}
//A連結滑入特效
a:hover {
  filter: brightness(1.5);
}
//新舊版切換 A連結
a {
  width: 172px;
  height: 50px;
  line-height: 45px;
  text-align: center;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  font-family: $fontfamily;
  font-size: $fontsizefour;
 
}