

@keyframes player_Lani{
    0%{
        left: 5%;
    }
    100%{
        left: 0%;
    }
}
@keyframes player_Rani{
    0%{
        top: 58%;
        left: 40%;
    }
    100%{
        top: 50%;
        left: 45%;
    }
}